@font-face {
    font-family: "IBMPlexSans-Bold";
    font-display: swap;
    src: url("../fonts/IBMPlexSans-Bold.woff2") format("woff");
}

@font-face {
    font-family: "IBMPlexSans-Light";
    font-display: swap;
    src: url("../fonts/IBMPlexSans-Light.woff2") format("woff2");
}

@font-face {
    font-family: "IBMPlexSans-Medium";
    font-display: swap;
    src: url("../fonts/IBMPlexSans-Medium.woff2") format("woff");
}

@font-face {
    font-family: "IBMPlexSans-Regular";
    font-display: swap;
    src: url("../fonts/IBMPlexSans-Regular.woff2") format("woff");
}

@font-face {
    font-family: "IBMPlexSans-SemiBold";
    font-display: swap;
    src: url("../fonts/IBMPlexSans-SemiBold.woff2") format("woff");
}

@font-face {
    font-family: "IBMPlexSans-Thin";
    font-display: swap;
    src: url("../fonts/IBMPlexSans-Thin.woff2") format("woff");
}
